@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #383838;
}
.content {
  color: #09fbba;
  transition: 1s;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  margin-top: 20px;
}
p {
  padding: 30px 50px;
}
#side_bar {
  position: absolute;
  width: 230px;
  height: 100%;
  background: #09fbba;
  top: 0;
  left: -230px;
  transition: 0.5s ease-out;
  z-index: 4;
}
#side_bar.active {
  left: 0;
}
.toggle-btn {
  position: absolute;
  top: 30px;
  left: 240px;
  cursor: pointer;
  height: 46px;
  width: 50px;
}
.toggle-btn span {
  position: absolute;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #09fbba;
  transition: all 0.6s ease-in-out;
}
#btn > span:nth-child(1) {
  top: 0;
}
#btn > span:nth-child(2) {
  top: 18px;
}
#btn > span:nth-child(3) {
  top: 36px;
}
.toggle-btn span.active {
  position: absolute;
}

#btn.active > span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}
#btn.active > span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20);
  visibility: hidden;
}
#btn.active > span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

li {
  color: #292929;
  list-style: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding-left: 5px;
}
li:hover {
  background: #292929;
  color: #fcfcfb;
}

#overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(30, 28, 28, 0.574);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

#overlay.active {
  visibility: visible;
  opacity: 1;
}
