Backend/Django/src_lms/.env_lms/
other
FrontEnd/frontFormation_1/Create\ a\ web\ site/SiteKyotoComplet
FrontEnd/other
FrontEnd/.vscode
Backend/Python/flutter/.flet
FrontEnd/fontFormation_2/les TP/TP_8_scroll_popup/.vscode
.vscode
FrontEnd/webSite/src
FrontEnd/webSite/resolv/dentelo-master
.gitignore
Backend/Django/formation_watsapp/.env_3.10_formation_watsap

.env