body {
    height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    /* height: 1000px; */

    display: grid;
    grid-template-rows: [header-start]150px[header-end contenu-start] 150px [contenu-end];
    grid-template-columns: repeat(3, [col-start] 150px [col-end]);
    
    grid-gap: 30px;
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
}

.item1 {
    background-color: pink;

}

.item2 {
background-color:teal
}

.item3 {
background-color: yellowgreen;
}

.item4 {
background-color: crimson;
grid-column: col-start 3 / col-end 3;
}

.item5 {
background-color: goldenrod;
grid-row: contenu-start / contenu-end;
}

.item6 {
background-color: indianred;
/* grid-row: header-start / header-end; */
}



