html {
    font-size: 16px;
}

body {
    height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    height: 70px;
    width: 100%;
    background-color: #333;
}
.liste-nav {
    width: 100%;
    height: 100%;
    text-align: center;
}
.item-nav {
    display: inline-block;
    line-height: 70px;
    font-size: 25px;
    margin: 0px 10px;
    cursor: pointer;
}
.item-nav a {
    text-decoration: none;
    color: #f1f1f1;
}
.btn-toggle-container {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
}
.btn-toggle-container img {
    width: 40px;
}
@media screen and (max-width:640px) {
    .btn-toggle-container { display:inline}
    nav {
        border-bottom: 1px solid #f1f1f1;
    }
    .liste-nav {
        position: relative;
        top: 70px;
        display: none;
    }
    .item-nav {
        display: block;
        background: #333;
        margin: 0;
    }
    .liste-nav.active-menu {
        display: block;
    }
}